@tailwind base;
/* Write your global styles here, in PostCSS syntax */
h1 {
	@apply text-5xl lg:text-7xl font-semibold;
}

h2 {
	@apply text-4xl lg:text-6xl font-semibold;
}
@tailwind components;
@tailwind utilities;
